_site
_tmp
.sass-cache
.jekyll-metadata
.jekyll-cache
.vagrant
.gitconfig

log/capistrano.log
Guardfile
crash.log
vendor
node_modules

.bundle/
.vscode-server/
.gnupg/
.cache/
.local/
.npm/
.vscode/
.dotnet/
.irb_history
.bash_history
.ssh/

# Need to ignore JavaScript that passes by the assets/ directory.
assets/js/application.js*

