# For projects using nanoc (http://nanoc.stoneship.org/)

# Default location for output, needs to match output_dir's value found in config.yaml
# To deplaoy with AWS CodeDeploy, we need to store the generated site, too.
output/dev.js

# Temporary file directory
tmp/

crash.log
Guardfile
.sass-cache/
dev.coffee
