#main h1, #sidebar h2, #sidebar ul {
  font-family: 'Signika Negative', sans-serif; }

* {
  font-family: 'Droid Sans', sans-serif; }

* {
  margin: 0;
  padding: 0; }

body {
  background: white; }

body {
  padding-top: 50px;
  padding-bottom: 42px; }

a {
  text-decoration: none; }

a:link,
a:visited {
  color: #54A85B; }

a:hover {
  color: #3C7C41; }

ul, ol {
  margin-left: 20px; }

#main {
  width: 559px; }
  #main h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: -1px; }
  #main p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px; }
  #main ul, #main ol {
    margin: 20px; }
  #main li {
    font-size: 15px;
    line-height: 20px; }

#sidebar {
  width: 161px;
  padding: 0 20px 0 0;
  border-right: 1px solid #ccc;
  text-align: right; }
  #sidebar h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px; }
  #sidebar ul {
    list-style-type: none; }
    #sidebar ul ul li {
      font-weight: normal;
      font-size: 13px; }
    #sidebar ul li {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px; }

.vertical_align_children * {
  vertical-align: middle; }

.left, #sidebar {
  float: left; }

.right, #main {
  float: right; }

.centre, .centre_in_browser, .footer p {
  margin-left: auto;
  margin-right: auto; }

.clear {
  clear: both; }

.centre_in_browser {
  width: 800px; }

.clear {
  clear: both; }

#iar p, #iar li, #iar th, #iar td {
  font-size: 12px; }
#iar table {
  border: solid black thin;
  border-collapse: collapse; }
  #iar table th, #iar table td {
    border: solid black thin;
    padding: 2px;
    vertical-align: middle; }
#iar h1 {
  font-size: 16px; }
#iar h2 {
  font-size: 14px; }
#iar h2 {
  font-size: 13px; }
#iar h1, #iar h2, #iar h3 {
  margin: 8px 0 8px 0;
  line-height: 1.1; }
#iar ul, #iar li {
  margin-top: 0;
  margin-bottom: 0; }

.footer {
  margin: 20px 0 10px 0; }
  .footer p {
    font-size: 12px;
    font-style: italic;
    width: 400px;
    text-align: center; }

#pagination-outer-container {
  width: 100%;
  text-align: center; }

#pagination-inner-container {
  display: inline-block; }
