---
title: Larry Reid
---

<% render 'simple' do %>
  <h1>Larry Reid</h1>
  <p>Larry Reid is the founder of Jade Systems. Mr. Reid has worked in the IT field since 1978.
  He has a solid reputation for delivering business value,
  whether working for his own start-up
  or for such clients as Nortel, Cognos, Canada Post, BMW America,
  Canada Centre for Remote Sensing,
  Australian Centre for Remote Sensing, HealthSouth, SourceMed, Vancouver Coastal Health,
  ICBC, Teck Resources, and BC Hydro.</p>
  <p>Mr. Reid draws on his technical, business and management backgrounds
  to see past the cool technology to find the real business value.
  With many years of software development experience,
  he can lead effective teams to develop new applications.</p>
  <p>Mr. Reid is a certified
  <a target="_blank" href="http://www.pmi.org/CareerDevelopment/Pages/AboutCredentialsPMP.aspx">
  Project Management Professional
  </a> (<strong>PMP</strong>).
  He obtained a B. Sc. with High Honours in Computational Science from the University of Saskatchewan in 1980.</p>
  <p>Mr. Reid was on the board of REACH, a community health centre serving the east side of Vancouver.
  He was on the board of TransFair Canada during its successful transition
  from an idea to an operational organization certifying the fair trade status of goods sold in Canada.
  He was also on the board of SourceMed Software Solutions,
  the Canadian subsidiary of Source Medical Solutions.</p>
<% end %>
