---
title: Home
---


<div class="jumbotron">
  <div class="container">
    <h1>Jade Systems</h1>
    <p>
      Jade Systems bridges the gap between business and technology, ensuring that your technology investment provides real benefits to your business. We provide project management, business analysis, and general IT consulting services.
    </p>
    <p>Some recent projects include:</p>
    <ul>
      <li>Relocating 200 servers to a remote data centre, on time, under budget, as part of a larger, 1,200 server relocation project</li>
      <li>Relocating 600 servers to a remote data centre, on time, under budget, and with no significant outages to the business</li>
      <li>Changing the way 1,700 nurses give medication at three hospitals</li>
      <li>Large-scale enterprise backup acquisition</li>
      <li>Virtualization of more than 200 servers using VMWare</li>
      <li>High-availability applications</li>
      <li>SAN storage infrastructure</li>
    </ul>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Services</h2>
      <p>
        We provide project management, infrastructure analysis, and general IT consulting services.
      </p>
      <p>
        <%= link_to("View details &raquo;", "/services/", class: "btn btn-default", role: "button") %>
          <!-- <a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
      <h2>People</h2>
      <p>
        Our peole will understand your organization and adapt our solutions to fit your needs. We don't just sell you a "best practice" that doesn't work for you.
      </p>
      <p>
        <%= link_to("View details &raquo;", "/people/larry_reid/", class: "btn btn-default", role: "button") %>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Knowledgebase</h2>
      <p>
        We believe in sharing what we know and do.
      </p>
      <p>
        <%= link_to("View details &raquo;", "/knowledgebase/", class: "btn btn-default", role: "button") %>
      </p>
    </div>
  </div>
</div>
