<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}{% link index.html %}">Jade Systems Inc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown">
          <a class="mx-md-4 nav-link dropdown-toggle" href="#" id="knowledgebaseMenu" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Knowledgebase
          </a>
          <ul class="dropdown-menu" aria-labelledby="knowledgebaseMenu">
            <li><a class="dropdown-item" href="{% link knowledgebase/index.md %}">Overview</a>
            <li><a class="dropdown-item" href="{% link knowledgebase/static-web-sites.md %}">Static Web Sites</a>
            <li><a class="dropdown-item" href="{% link knowledgebase/search-engines.md %}">Search Engines</a>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link blog/index.html %}">Blog</a></li>
        <li class="nav-item"><a class="nav-link mx-md-4" href="{{ site.baseurl }}{% link contact/index.html %}">Contact Us</a></li>
      </ul>
    </div>
  </nav>
</div>
