<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Jade Systems Inc {{ page.title }}</title>

<link rel="stylesheet" href="{{ "/assets/css/application.css" | relative_url }}">
<script src="{{ "/assets/js/application.js" | relative_url }}"></script>
<link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700|Signika+Negative:400,700' rel='stylesheet' type='text/css'>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
