<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ site.baseurl }}{% link index.html %}">Jade Systems Inc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav justify-content-between w-100">
        <li class="nav-item dropdown">
          <a href="#" class="nav-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Knowledgebase</span></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}{% link knowledgebase.md %}">Overview</a>
            <a class="dropdown-item" href="{{ site.baseurl }}{% link knowledgebase/static-web-sites.md %}">Static Web Sites</a>
            <a class="dropdown-item" href="{{ site.baseurl }}{% link knowledgebase/search-engines.md %}">Search Engines</a>
          </div>
        </li>
        <li class="ml-auto"><a class="nav-item" href="{{ site.baseurl }}{% link contact.html %}">Contact Us</a></li>
      </ul>

      <!-- <form class="form-inline ml-auto">
        <div class="form-group">
          <input type="text" placeholder="Search" class="form-control" id="search" name="query" value="" autocomplete="off" />
        </div>
        <button type="button" class="btn btn-success" id="search-button">Search</button>
      </form> -->
    </div>
  </nav>
</div>

<div class="container">
  <div id="search-results">
    <div id="clear-results" class="clear-button" style="display: block;">&nbsp;</div>
    <ul id="search-results-list"></ul>
    <div id="pagination-outer-container">
      <div id="pagination-inner-container" class="text-center mx-auto">
        <div id="pagination"></div>
      </div>
    </div>
  </div>
</div>
