.post-meta {
  @extend .small;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.triangle {
  height: 5rem;
  width: 5rem;
  white-space: nowrap;
  @include caret();

  &::after {
    content: '';
    white-space: nowrap;
    }
}

.blog-sidebar {
  font-size: 0.75rem;

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  ul {
    padding-inline-start: 0.5rem;
  }
}
