---
layout: default
title: Pragmatic IT
---

<div class="container-md bg-primary">
  <div class="mb-3 text-light">
    <div class="py-md-5">
      <h1 class="text-center display-5 fw-bold">Pragmatic IT</h1>
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-12 col-lg-8 fs-4">
            <p>
              IT Infrastructure and Software Development from the Customer's
              Perspective
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-md mb-5">
  <div class="row justify-content-around">
    <div class="col-12 col-md-9">
      {% include paginator.html %}
    </div>
    <div class="col-md-3 d-none d-md-block">
    </div>
    <div class="col-12 col-md-9">
      {% for post in paginator.posts %}
      <div class="card mb-3">
        <div class="card-body">
          <a href="{{ post.url }}" class="post-link">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.excerpt }}
              <!-- {{ post.content | strip_html | truncatewords: 20 }} -->
            </p>
          </a>
        </div>
      </div>
      {% endfor %}
      {% include paginator.html %}
    </div>
    <div class="col-md-3 d-none d-md-block">
      {% include blog_sidebar.html %}
    </div>
  </div>
</div>
